* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: #424141;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo-photo {
    width: 120px;
}

.menus {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    margin-right: 15px;
    font-size: 18px;
    padding-right: 7px;
    color: white;
}

.nav-item:hover {
    color: #ff5e3a;
}

.img {
    width: 300px;
}

.banner-container {
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 55px;
    padding-top: 50px;
}

.banner-description {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.sub-title{
    font-size: 30px;
}

.main-btn {
    padding: 20px 30px;
    background-color: #ff5e3a;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;

}

.about-section {

    margin-bottom: 50px;
}

.about-title {
    text-align: center;
}

.box {
    width: 230px;
    height: 300px;
    box-shadow: 4px 4px 15px white;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    margin-bottom: 50px;
}

.icon {
    width: 70px;
}

.box-btn {
    background-color: gray;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
}

.box-title {
    padding: 10px;
}

.box-description {
    padding: 5px;
}

.service-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.our-services-section {
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    height: 700px;
}
.service-title{
    color: white;
    font-size: 55px;
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.footer-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-img{
    width: 200px;
}
.footer-description{
    color: white;
    padding-top: 60px;
}
.footer-title{
    color: white;
}
.footer{
    height: 500px;
    background-color: black;
}
.footer-div{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.footer-para{
    color: white;
    text-decoration: none;
    padding-top: 25px;
    display: block;
}
.copyright{
    color: white;
    text-align: center;
    margin: 30px;
}
.line{
    margin-left: 100px;
    margin-right: 100px;
}